<h3><u> Applicant's name:</u></h3>
<p><%= @applicant.name %></p>
<h3><u> Applicant's address:</u></h3>
<p>
  <%= @applicant.street_address %>,
  <%= @applicant.city %>,
  <%= @applicant.state %>
  <%= @applicant.zip_code %>
</p>

<h3><u> Pets this application is for:</u></h3>
<% @applicants_pets.map do |pet| %>
  <%= pet.name %>
<% end %>

<h3><u> Application status:</u></h3>
<% if params[:description] %>
  <%= @applicant.pending_status %>
<% else  %>
  <%= @applicant.status %></br>
<% end  %>

<h3><u>Add a pet to this application by name:</u></h3>
  <% if !params[:description] %>
    <%= form_with url: "/applications/#{@applicant.id}", method: :get, local: true do |f| %>
      <%= f.label :search %>
      <%= f.text_field :search %>
      <%= f.submit "Submit" %>
    <% end %>
  <% else params[:description] %>
    <p>You've already submitted your application</p>
  <% end %>

  <% if params[:search] %>
    <% @pets.map do |pet| %>
      <p id="singleline"><%= pet.name %>
      <%= button_to "Adopt this pet", "/applications/#{@applicant.id}", method: :post, params: { pet_id: pet.id } %></p>
    <% end %>
  <% end %></br>

<h2>Application Submittal</h2>
  <% if @applicants_pets.count >= 1 %>
    <%= form_with url: "/applications/#{@applicant.id}", method: :get, local: true do |f| %>
      <h4>Please describe below why you'd make a good home for this pet:</h4>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= f.submit "Submit Application" %>
      <% end %>
  <% else %>
    <p>Please add an animal to your application to submit</p>
  <% end %>
